
.table-list {
    border: 1px solid #d7d7d7;
    font-family: 微软雅黑;
    width: 99%;
    margin-top: 10px;
    /*margin: auto;*/
}

    .table-list td a {
        margin-right: 5px;
    }

    .table-list tr {
        height: 36px;
        border: 1px solid #d7d7d7;
        /*border:none;*/
    }

    .table-list th {
        height: 38px;
        color: #555354;
        padding-left: 4px;
        padding-right: 4px;
        font-weight: bold;
        text-align: center;
        border: none;
        border-right: dotted 1px #c7c7c7;
        background-color: #dcebf2;
    }

    .table-list td {
        padding-left: 4px;
        padding-right: 2px;
        border: none;
        border-right: dotted 1px #c7c7c7;
    }
.rightPanel {
margin-top:10px;
padding-left:15px;
float:right;
width:91%;
}

